{% extends 'layout.html' %}

{% block title %}Blog List Page{% endblock %}

{% block content %}
    <h2>This is the Blog List!</h2>
    <p>Welcome to our website. We're glad to have you here.</p>

    <a class="btn btn-primary" href="{% url 'blog_create' %}">Blog Create</a>

    <div class="container row gap-3">
        
        {% for blog in s %}
        <div class="card" style="width: 18rem;">
            <img src="{{s.photo.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{%url 'blog_edit' blog.id%}" class="btn btn-primary">Edit</a>
              <a href="{%url 'blog_delete' blog.id%}" class="btn btn-danger
              ">Delete</a>
            </div>
          </div>
        {% endfor %}
            
    </div>
{% endblock %}
